body {
    background-color: #f0f2f5;
}

.rosco-letra {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #1a2b6d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.rosco-letra.activa {
  background-color: #3b56b3;
  outline: 3px solid #1a2b6d;
}

.rosco-letra.correcta {
  background-color: #1d9e75;
}